Source: datim-auto-cert-updater
Maintainer: Ulad Kasach <uladkasach@gmail.com>
Section: web
Priority: optional
Build-Depends: debhelper (>= 7)


Package: datim-auto-cert-updater
Architecture: amd64
Depends: openhim-cert-updater, nginx-datim, python-certbot-nginx
Recommends: build-essential, libkrb5-dev
Description: Datim Certificate Renewal and Update Manager
 creates a cronjob that checks whether certificate is about to expire twise a day, triggers openhim-cert-updater if certificate is renewed